<!-- Start Feature Area -->
<div class="feature-area feature-area-2 fix bg-color area-padding">
    <div class="container">
        <div class="row feature-row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="feature-content">
                    <div class="feature-images">
                        <img src="{{'/assets/img/feature/contact-feature.gif' | relative_url }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="feature-all">
                    <div class="right-headline">
                        <h2>Transfering sats is as easy and fast as sending a message</h2>
                    </div>
                    <!-- about single -->
                    <div class="support-services wow fadeInUp" data-wow-delay="0.3s">
                        <div>
                            <h4>Contacts list</h4>
                            <p>Simplify your transactions by adding contacts to your wallet. No more hassles of asking or passing Bitcoin invoices around to send or receive funds.</p>
                        </div>
                    </div>
                    <!-- about single -->
                    <div class="support-services wow fadeInUp" data-wow-delay="0.7s">
                        <div>
                            <h4>Request & pay</h4>
                            <p>Request your contacts to pay you and pay their requests instantly, all through the contacts list.</p>
                        </div>
                    </div>
                    <!-- about single -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Feature Area -->

<!-- Start Feature Area -->
<div class="feature-area bg-color fix area-padding">
    <div class="container">
        <div class="row feature-row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="feature-all">
                    <div class="right-headline">
                        <h2>Unlock fantastic promos and deals using your sats!</h2>
                        <p>In Kumuly Pocket you'll find a diverse range of available promotions, including electronics, food, travel, clothing and more.</p>
                    </div>
                    <!-- about single -->
                    <div class="support-services wow fadeInUp" data-wow-delay="0.3s">
                        <div>
                            <h4>Just the promos you're into</h4>
                            <p>Find great promos filtered by your preferences, including distance, categories, brands, price and more. Get exactly what you're looking for, every time.</p>
                        </div>
                    </div>
                    <!-- about single -->
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="feature-content">
                    <div class="feature-images">
                        <img src="{{'/assets/img/feature/promos-feature.png' | relative_url }}" alt="">
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Feature Area -->

<!-- Start Feature Area -->
<div class="feature-area fix">
    <img src="{{'/assets/img/feature/promo-feature.png' | relative_url }}" alt="">
</div>
<!-- End Feature Area -->

<!-- Start Feature Area -->
<div class="feature-area bg-color-2 fix area-padding">
    <div class="container">
        <div class="row feature-row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="feature-all">
                    <div class="right-headline text-center">
                        <h2>
                            Enjoy a variety of services
                            <br>
                            and utilities to spend sats.
                        </h2>
                        <p>
                            Personalize your app with the services you most frequently spend bitcoin on. Including entertainment, transportation, subscriptions, deals, bill payments and more.
                        </p>
                    </div>
                    <!-- about single -->
                </div>
            </div>
        </div>
    </div>  
</div>
<!-- End Feature Area -->

<!-- Start Feature Area -->
<div class="feature-area fix">
    <div class="row feature-row">
        <div class="col-xl-6 col-lg-6 col-md-6">
            <img src="{{'/assets/img/feature/tickets-feature.png' | relative_url }}" alt="">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
            <img src="{{'/assets/img/feature/transportation-feature.png' | relative_url }}" alt="">
        </div>
    </div>
</div>
<!-- End Feature Area -->

<!-- Start Feature Area -->
<div class="feature-area feature-area-2 fix bg-color-neutral-20 area-padding">
    <div class="container">
        <div class="row feature-row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="feature-content">
                    <div class="feature-images">
                        <img src="{{'/assets/img/feature/map-feature.png' | relative_url }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="feature-all">
                    <div class="right-headline">
                        <h2>Discover Bitcoin-accepting merchants</h2>
                        <p>When you spend sats in Kumuly Pocket you contribute to the Bitcoin circular economy and automatically help to keep BTC Map populated for your fellow Bitcoiners.</p>
                    </div>
                    <!-- about single -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Feature Area -->