{% if page.url == '/test-program' %}
    {% assign classes = 'bg-color-xs ' %}
{% else %}
    {% assign classes = 'bg-color'%}
{% endif %}

<!-- start test program area -->
<div class="fix bg-color-3">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <img src="{{'/assets/img/project/kumuly-pocket-home.png' | relative_url }}" alt="" style="width: 880px !important;">
        </div>
        <div class="area-padding-4">
            <div class="text-center logo">
                <img src="assets/img/logo/kumuly-pocket.png" alt="Kumuly Pocket Logo">
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 offset-md-3 text-center light-headline">
                <h2>Interested in testing it out?</h2>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 offset-md-3 text-center">
                <p>Follow us on our mission to empower everyday living on Bitcoin, making it accessible, convenient, and integrated into daily life. Stay tuned for updates!</p>
            </div>
        </div>
        <div class="area-padding-5">
            <div class="text-center twitter-logo">
                <a href="https://x.com/kumulydev" target="_blank" rel="noopener noreferrer">
                    <img src="assets/img/logo/x.png" alt="X/Twitter link">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End test program area -->