<!-- Start Footer Area -->
<footer class="footer1">
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-content logo-footer">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <a href="{{'/' | relative_url }}"><img
                                        src="{{'/assets/img/logo/logo-horizontal.png' | relative_url }}" alt="{{site.title}}" style="max-height: 40px"></a>
                            </div>
                            <p>
                                Creating secure self-custodial Bitcoin products to ensure you can keep what's yours in a world where all you need is sats.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-3 offset-md-5">
                    <div class="footer-content last-content">
                        <div class="footer-head">
                            <h4>Information</h4>
                            <div class="footer-contacts">
                                <p>Email: contact@kumuly.dev</p>
                                <p>Location: Leuven, Belgium</p>
                            </div>
                            <div class="footer-icons">
                                <ul>
                                    {% if site.facebook %}
                                    <li>
                                        <a href="{{site.facebook | relative_url}}" target="_blank" rel="noopener noreferrer">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if site.twitter %}
                                    <li>
                                        <a href="{{site.twitter | relative_url}}" target="_blank" rel="noopener noreferrer">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if site.github %}
                                    <li>
                                        <a href="{{site.github | relative_url}}" target="_blank" rel="noopener noreferrer">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if site.instagram %}
                                    <li>
                                        <a href="{{site.instagram | relative_url}}" target="_blank" rel="noopener noreferrer">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer Bottom Area -->
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="copyright">
                        <p class="copyright-text m-0">©
                            <script>
                                document.write(new Date().getFullYear())
                            </script> Kumuly B.V. All rights reserved.
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">About</a></li><!-- {{'/about' | relative_url }} -->
                            <li><a href="#">Terms & Condition</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom Area -->
</footer>
<!-- End Footer Area -->